.detail-main {
	padding: 70px 10%;
}

.recent-post {
	margin-top: 80px;
	position: sticky;
}

.recent-item {
	margin: 20px 0;

	div {
		padding: 0;
		padding-left: 15px;
	}
	img {
		width: 110px;
		height: 110px;
		object-fit: cover;
		object-position: center;
		border-radius: 100px;
	}
}

.detail-top {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.5);
		z-index: 1;
		transition: 0.5s;
		opacity: 1;
	}
}

.detail-title {
	transform: translateY(-100px);
	color: white;
	z-index: 5;
}
